<header>
   <div class="container-fluid header-container">
      <a href="/" class="logo"><img src="@img/logo.svg" alt="ТД РКУ"></a>

      <div class="navigation">
         <nav>
            <ul>
               <li><a href="#about">О нас</a></li>
               <li><a href="#application">Применение</a></li>
               <li><a href="#price">Стоимость</a></li>
               <li><a href="#contacts">Контакты</a></li>
            </ul>
         </nav>

         <div class="contact-links">
            <a href="tel:+7 (985) 534 94-86" class="header-phone">
               <img src="@img/phone.svg" alt="phone">
               <span>+7 (985) 534 94-86</span>
            </a>
            <a href="https://api.whatsapp.com/send?phone=+79855349486" target="_blank" class="header-whats">
               <img src="@img/whatsapp.svg" alt="whatsapp">
               <span>Написать в WhatsApp</span>
            </a>
         </div>
      </div>
      
      @@include('burger.html')
   </div>
</header>