<div class="i-mobile-menu">
   <div class="content">
      <nav class="mobile-navigation">
         <ul>
            <li><a href="#about">О нас</a></li>
            <li><a href="#application">Применение</a></li>
            <li><a href="#price">Стоимость</a></li>
            <li><a href="#contacts">Контакты</a></li>
         </ul>
      </nav>

      <div class="mob-socials">
         <a href="#" class="vk"><svg><use xlink:href="@img/svg-sprite.svg#vk"></use></svg></a>
         <a href="#" class="pint"><svg><use xlink:href="@img/svg-sprite.svg#pint"></use></svg></a>
         <a href="#" class="insta"><svg><use xlink:href="@img/svg-sprite.svg#insta"></use></svg></a>
         <a href="#" class="twitter"><svg><use xlink:href="@img/svg-sprite.svg#twitter"></use></svg></a>
         <a href="#" class="face"><svg><use xlink:href="@img/svg-sprite.svg#face"></use></svg></a>
      </div>

      <button class="section-button request-btn mob-btn"><span>Оставить заявку</span></button>
         
      @@include('close.html')
   </div>
</div>

<div class="overlay menu-overlay" ></div>