<section class="section-application" id="application">
   <div class="decr-img"><img src="@img/bg1.png" alt=""></div>
   <div class="container-fluid">
      <h2 class="heading section-heading about-title animate">Применение</h2>
      <div class="app-box">
         <div class="app-infos">
            <div class="app-info" rel="1">
               <h3 class="app-box-title">Устройство габионов</h3>
               <p class="app-box-text">Устройство габионов - с другой стороны сложившаяся структура организации позволяет оценить значение существенных
               финансовых и административных условий. Разнообразный и богатый опыт реализация намеченных плановых заданий представляет
               собой интересный эксперимент проверки систем массового участия. Разнообразный и богатый опыт реализация намеченных
               плановых заданий представляет собой интересный эксперимент проверки систем массового участия.
               </p>
            </div>

            <div class="app-info" rel="2">
               <h3 class="app-box-title">Устройство матрацев</h3>
               <p class="app-box-text">Устройство матрацев также как высокотехнологичная концепция общественного уклада требует от нас анализа распределения
               внутренних резервов и ресурсов. Повседневная практика показывает, что реализация намеченных плановых заданий однозначно
               фиксирует необходимость кластеризации усилий.
               </p>
            </div>

            <div class="app-info" rel="3">
               <h3 class="app-box-title">Устройство заборов</h3>
               <p class="app-box-text">Следует отметить, что устройство заборов сегодняшнего дня способствует подготовке и реализации глубокомысленных
               рассуждений. В рамках спецификации современных стандартов, диаграммы связей призывают нас к новым свершениям, которые, в
               свою очередь, должны быть подвергнуты целой серии независимых исследований!. А также диаграммы связей освещают
               чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, представлены в исключительно
               положительном свете.
               </p>
            </div>
         </div>

         <div class="app-sl-wrap">
            <div class="app-sl dcut-slider app-sl-main">
               <div class="slide" data-rel="1">
                  <picture>
                     <source media="(max-width:700px)" srcset="@img/application/slide-lg1-700.jpg">
                     <img src="@img/application/slide-lg1.jpg">
                  </picture>
               </div>

               <div class="slide" data-rel="2">
                  <picture>
                     <source media="(max-width:700px)" srcset="@img/application/slide-lg2-700.jpg">
                     <img src="@img/application/slide-lg2.jpg">
                  </picture>
               </div>

               <div class="slide" data-rel="3">
                  <picture>
                     <source media="(max-width:700px)" srcset="@img/application/slide-lg3-700.jpg">
                     <img src="@img/application/slide-lg3.jpg">
                  </picture>
               </div>
            </div>
         </div>

         <div class="slide-names active" id="1">
            <div class="slide-name">
               Камень бутовый 120-150 мм
               <svg><use xlink:href="@img/svg-sprite.svg#long-arrow-right"></use></svg>
            </div>
         </div>
         <div class="slide-names" id="2">
            <div class="slide-name">
               Камень бутовый 70-120 мм
               <svg><use xlink:href="@img/svg-sprite.svg#long-arrow-right"></use></svg>
            </div>
         </div>
         <div class="slide-names" id="3">
            <div class="slide-name">
               Камень бутовый 40-70 мм
               <svg>
                  <use xlink:href="@img/svg-sprite.svg#long-arrow-right"></use>
               </svg>
            </div>
         </div>
      </div>
   </div>
</section>

