<section class="section-about" id="about">
   <div class="container-fluid">
      <div class="row">
         <div class="col-6 animate about-col">
            <div class="about-item">
               <div class="img-box">
                  <img src="@img/about/about1.jpg" alt="РКУ">
                  <h2 class="heading md-heading white about-heading">О компании</h2>
               </div>
               
               <div class="content-box">
                  <p class="text">Это текст-рыба.
                     В своём стремлении улучшить пользовательский опыт мы упускаем, что активно развивающиеся страны третьего мира
                     призваны к
                     ответу. Консультация с широким активом позволяет оценить значение поставленных обществом задач! Противоположная
                     точка
                     зрения подразумевает, что реплицированные с зарубежных источников, современные исследования рассмотрены
                     исключительно в
                     разрезе маркетинговых и финансовых предпосылок. </p>
               
                  <p class="text">А также стремящиеся вытеснить традиционное производство, нанотехнологии являются только методом
                     политического участия и
                     ассоциативно распределены по отраслям. Независимые государства будут обнародованы!</p>
               </div>
            </div>
         </div>

         <div class="col-6 animate about-col">
            <div class="about-item">
               <div class="img-box">
                  <img src="@img/about/about2.jpg" alt="РКУ">
                  <h2 class="heading md-heading white about-heading">О бутовом камне</h2>
               </div>
         
               <div class="content-box">
                  <p class="text">Это текст-рыба.
                     В своём стремлении улучшить пользовательский опыт мы упускаем, что активно развивающиеся страны третьего
                     мира
                     призваны к
                     ответу. Консультация с широким активом позволяет оценить значение поставленных обществом задач!
                     Противоположная
                     точка
                     зрения подразумевает, что реплицированные с зарубежных источников, современные исследования рассмотрены
                     исключительно в
                     разрезе маркетинговых и финансовых предпосылок. </p>
         
                  <p class="text">А также стремящиеся вытеснить традиционное производство, нанотехнологии являются только методом
                     политического участия и
                     ассоциативно распределены по отраслям. Независимые государства будут обнародованы!</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>