<section class="section-contacts" id="contacts">
   <div class="decr-img"><img src="@img/bg1.png" alt=""></div>
   <div class="container-fluid rel-container">
      <div class="grid">
         <div class="grid-item relative">
            <h2 class="heading section-heading animate contacts-title">Контакты</h2>
            <div class="contacts-info">
               <div class="info-item">
                  <div class="icon"><img src="@img/price/loc.svg" alt=""></div>
                  <div class="text">111141, Москва, ул. Кусковская 20А, корпус В, офис 604</div>
               </div>
               <a href="tel: +7 (985) 534 94 86" class="info-item">
                  <div class="icon"><img src="@img/price/phone-w.svg" alt=""></div>
                  <div class="text">+7 (985) 534 94 86</div>
               </a>
               <a href="mailto: info@td-rku.ru" class="info-item">
                  <div class="icon"><img src="@img/price/mail.svg" alt=""></div>
                  <div class="text">info@td-rku.ru</div>
               </a>

               <button class="section-button request-btn mt"><span>Заказать звонок</span></button>
            </div>

            

            <div class="contacts-social">
               <a href="#" class="vk"><svg><use xlink:href="@img/svg-sprite.svg#vk"></use></svg></a>
               <a href="#" class="pint"><svg><use xlink:href="@img/svg-sprite.svg#pint"></use></svg></a>
               <a href="#" class="insta"><svg><use xlink:href="@img/svg-sprite.svg#insta"></use></svg></a>
               <a href="#" class="twitter"><svg><use xlink:href="@img/svg-sprite.svg#twitter"></use></svg></a>
               <a href="#" class="face"><svg><use xlink:href="@img/svg-sprite.svg#face"></use></svg></a>
            </div>

         </div>
         

         <div class="grid-item">
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A3f49873edc2284fa760399d9641d428d36f8c04e979315566e41e67236883159&amp;source=constructor" width="100%" frameborder="0"></iframe>
         </div>
      </div>
   </div>
</section>