<section class="section-main">
   <div class="main-slider">

      <!-- Slide 1 -->
      <div class="slide first">
         <div class="bg"><img src="@img/main/slide1.jpg" alt="Изображение 1"></div>
         <div class="decor-img">
            <img src="@img/infinity-bg.png" alt="">
         </div>

         <div class="content">
            <div class="info">
               <div class="titles">
                  <h1 class="heading xl-heading">Репнянское <br> Карьероуправление</h1>
                  <h1 class="heading heading-mob">Репнянское <br> Карьеро- <br> управление</h1>
               </div>
               
               <div class="bottom-content">
                  <h5 class="subheading">Производитель <br> щебня и бутового камня</h5>
                  <button class="section-button request-btn main"><span>Оставить заявку</span></button>
               </div>
            </div>

            <div class="name-wrap">
               <div class="name">Камень бутовый фр. 70-120 (150) мм</div>
            </div>
         </div>
      </div>
      <!-- End Slide 1 -->

      <!-- Slide 2 -->
      <div class="slide second">
         <div class="bg"><img src="@img/main/slide2.jpg" alt="Изображение 1"></div>
         <div class="decor-img"><img src="@img/infinity-bg.png" alt=""></div>

         <div class="content">
            <div class="info">
               <h1 class="heading xl-heading">Репнянское <br> Карьероуправление</h1>
               <h1 class="heading heading-mob">Репнянское <br> Карьеро- <br> управление</h1>
         
               <div class="bottom-content">
                  <h5 class="subheading">Производитель <br> щебня и бутового камня</h5>
                  <button class="section-button request-btn main"><span>Оставить заявку</span></button>
               </div>
            </div>
         
            <div class="name-wrap">
               <div class="name">Камень бутовый фр. 70-120 (170) мм</div>
            </div>
         </div>
      </div>
      <!-- End Slide 2 -->

      <!-- Slide 3 -->
      <div class="slide third">
         <div class="bg"><img src="@img/main/slide1.jpg" alt="Изображение 1"></div>
         <div class="decor-img"><img src="@img/infinity-bg.png" alt=""></div>
         
         <div class="content">
            <div class="info">
               <h1 class="heading xl-heading">Репнянское <br> Карьероуправление</h1>
               <h1 class="heading heading-mob">Репнянское <br> Карьеро- <br> управление</h1>
         
               <div class="bottom-content">
                  <h5 class="subheading">Производитель <br> щебня и бутового камня</h5>
                  <button class="section-button request-btn main"><span>Оставить заявку</span></button>
               </div>
            </div>
         
            <div class="name-wrap">
               <div class="name">Камень бутовый фр. 70-120 (190) мм</div>
            </div>
         </div>
      </div>
      <!-- End Slide 3 -->
   </div>
</section>