<section class="section-price" id="price">
   <div class="decr-img"><img src="@img/infinity-bg.png" alt=""></div>

   <div class="container-fluid">
      <h2 class="heading section-heading white price-title animate">Стоимость</h2>
      <div class="price-row">
         <div class=" price-col animate">
            <div class="price-item">
               <h3 class="title">Мелкий опт</h3>
               <div class="content-box">
                  <div class="options">
                     <p class="option">до 420 тонн</p>
                     <p class="option">до 2,5 млн. руб</p>
                     <p class="option">Условия оплаты</p>
                  </div>
                  <p class="text">Это - текст-рыба. С другой стороны сложившаяся структура организации позволяет оценить значение существенных финансовых и административных условий. Разнообразный и богатый опыт реализация намеченных плановых заданий представляет собой интересный.</p>
               </div>
               <button class="section-button darkFirst request-btn"><span>оставить заявку</span></button>
            </div>
         </div>

         <div class=" price-col animate">
            <div class="price-item">
               <h3 class="title">Крупный опт</h3>
               <div class="content-box">
                  <div class="options">
                     <p class="option">от 420 тонн</p>
                     <p class="option">от 2,5 млн. руб</p>
                     <p class="option">Условия оплаты</p>
                  </div>
                  <p class="text">Это - текст-рыба. С другой стороны сложившаяся структура организации позволяет оценить значение существенных финансовых и административных условий. Разнообразный и богатый опыт реализация намеченных плановых заданий представляет собой интересный.</p>
               </div>
               <button class="section-button darkFirst request-btn"><span>оставить заявку</span></button>
            </div>
         </div>
      </div>
   </div>
</section>