<div class="wrap-modal popup-modal">
    <div class="modal-window popup-modal-window">
        <section class="modal-wrap slide-modal-wrap">
            <div class="container-fluid modal-container slide-modal-container">
                <div class="popup-sl-wrap">
                    <div class="app-sl dcut-slider popup-sl">
                        <div class="slide" data-rel="1"><img src="@img/application/slide-popup1.jpg" alt=""></div>
                        <div class="slide" data-rel="2"><img src="@img/application/slide-popup2.jpg" alt=""></div>
                        <div class="slide" data-rel="3"><img src="@img/application/slide-popup3.jpg" alt=""></div>
                    </div>

                    <button class="close-modal slide-close">
                        <img src="@img/close.png" alt="">
                    </button>
                </div>

                
            </div>
        </section>
    </div>
    <div class="modal-overlay popup-overlay"></div>
</div>