/* Open Sans */
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-Bold.eot');
	src: local('Open Sans Bold'), local('OpenSans-Bold'),
		url('../fonts/OpenSans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans/OpenSans-Bold.woff') format('woff'),
		url('../fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-Regular.eot');
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
		url('../fonts/OpenSans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans/OpenSans-Regular.woff') format('woff'),
		url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-SemiBold.eot');
	src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
		url('../fonts/OpenSans/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans/OpenSans-SemiBold.woff') format('woff'),
		url('../fonts/OpenSans/OpenSans-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: fallback;
}




/* Roboto */
@font-face {
   font-family: 'Roboto';
   src: url('../fonts/Roboto/Roboto-Bold.eot');
   src: local('Roboto Bold'), local('Roboto-Bold'),
      url('../fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto/Roboto-Bold.woff') format('woff'),
      url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
   font-weight: 600;
   font-style: normal;
	font-display: fallback;
}

@font-face {
   font-family: 'Roboto';
   src: url('../fonts/Roboto/Roboto-Black.eot');
   src: local('Roboto Black'), local('Roboto-Black'),
      url('../fonts/Roboto/Roboto-Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto/Roboto-Black.woff') format('woff'),
      url('../fonts/Roboto/Roboto-Black.ttf') format('truetype');
   font-weight: 900;
   font-style: normal;
	font-display: fallback;
}



/* Montserrat */
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-ExtraBold.eot');
	src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
		url('../fonts/Montserrat/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat/Montserrat-ExtraBold.woff') format('woff'),
		url('../fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
	font-display: fallback;
}




/* Lato */
@font-face {
   font-family: 'Lato';
   src: url('../fonts/Lato/Lato-Light.eot');
   src: local('Lato Light'), local('Lato-Light'),
      url('../fonts/Lato/Lato-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Lato/Lato-Light.woff') format('woff'),
      url('../fonts/Lato/Lato-Light.ttf') format('truetype');
   font-weight: 300;
   font-style: normal;
	font-display: fallback;
}