@import './fonts.scss';

/* Variables */

$decoration-color-1: #EC6517;
$decoration-color-2: #F9B231;
$text-color-darkness: #000000;
$text-color-dark: #5D5D5D;
$text-color-lightness: #fff;
$text-color-light: #4F5355;
$dark-opcity: rgba(0, 0, 0, 0.8);
$pceudo-element-color: rgba(108, 108, 108, 0.7); 
$border-color: #DAE0E3;
$border-grey-color: #9C9C9C;
$bg-dark-title: #181818;
$links-color: #283441;


@import '../libs/bootstrap-grid.min.css';
@import '../libs/reset.min';
@import '../libs/slick/slick.scss';
@import '../libs/slick/slick-theme.scss';  
@import 'header';
@import 'burger';
@import 'close';
@import 'mobile-menu';
@import 'overlay';
@import 'section-main';
@import 'section-about';
@import 'section-application';
@import 'section-price';
@import 'section-contacts';
@import 'form';
@import 'footer';




body {
   position: relative;
   font-family: 'Open Sans', sans-serif;
   &.hidden {
      overflow: hidden;
   }
}

button, 
a, a:hover, a:active, a:focus, a:visited,
input, input:hover, input:active, input:focus,
textarea, textarea:hover, textarea:active, textarea:focus {
   text-decoration: none;
   outline: none;
   border: none;
}



/**  
 * .container-fluid
*/
.container-fluid {
   max-width: 1250px;
   z-index: 1;
   &.rel-container {
      position: relative;
      z-index: 1;
   }
}

/**  
 * .heading
*/
.heading {
   font-family: 'Montserrat', sans-serif;
   font-size: 64px;
   font-weight: 800;
   line-height: 89%;
   color: $text-color-darkness;
   letter-spacing: -0.02em;
   position: relative;
   &.section-heading {
      &::after {
         background: $text-color-darkness;
      }
      @media all and (max-width: 540px) {
         font-size: calc((100vw - 280px)/(540 - 280) * (64 - 32) + 32px);
      }
   }
   &::after {
      content: '';
      position: absolute;
      bottom: -33px;
      left: 0;
      width: 141px;
      height: 5px;
      border-radius: 30px;
      background: $text-color-lightness;
      transition: all 0.4s ease-out;
   }
   &.animate::after {
      width: 0;
      transition: all 0.4s ease-out
   }
   &.animate-show {
      &::after {
         width: 141px;
         transition-delay: 0.3s;
      }
   }
   &.white {
      color: $text-color-lightness;
   }
   &.md-heading {
      font-weight: 800;
      font-size: 46px;
      line-height: 89%;
   }
   &.xl-heading {
      margin-bottom: 100px;
      font-family: 'Roboto', sans-serif;
      font-size: 82px;
      font-weight: 900;
      line-height: 105%;
      letter-spacing: -0.01em;
      text-transform: uppercase;
      color: $text-color-lightness;
      text-align: left;
   }
   &.heading-mob {
      margin-bottom: 100px;
      font-family: 'Roboto', sans-serif;
      font-size: 82px;
      font-weight: 900;
      line-height: 105%;
      letter-spacing: -0.01em;
      text-transform: uppercase;
      color: $text-color-lightness;
      text-align: left;
      display: none;
   }
}





/**  
 * .subheading
*/
.subheading {
   margin-bottom: 53px;
   font-family:'Open Sans', sans-serif;
   font-weight: 400;
   font-size: 40px;
   line-height: 122%;
   color: $text-color-lightness;
   max-width: 520px;
   text-align: left;
}



// width
@media all and (max-width: 1000px) {
   .heading.xl-heading { font-size: calc((100vw - 700px)/(1000 - 700) * (82 - 60) + 60px); }
   .subheading { font-size: calc((100vw - 700px)/(1000 - 700) * (40 - 32) + 32px); }
}

@media all and (max-width: 700px) {
   .heading.xl-heading { display: none; }
   .heading.heading-mob { display: block;}
}

@media all and (max-width: 400px) {
   .heading.heading-mob { font-size: calc((100vw - 280px)/(400 - 280) * (50 - 36) + 36px); }
   .heading.heading-mob { font-size: calc((100vw - 280px)/(400 - 280) * (50 - 36) + 36px); }
}



// height
@media all and (max-height: 700px) {
   .subheading { margin-bottom: 30px; font-size: 21px; }
   .heading.xl-heading { font-size: 60px; }
}




// width and height

@media all and (max-width: 700px) and (min-height: 700px) {
   .heading.heading-mob { font-size: calc((100vw - 400px)/(700 - 400) * (60 - 50) + 50px); margin-bottom: 140px; }
}

@media all and (max-height: 700px) and (max-width: 700px) {
   .heading.heading-mob { font-size: calc((100vw - 400px)/(700 - 400) * (60 - 50) + 50px); margin-bottom: 100px; }
   .main-slider .slide .content .info .title { flex: 1 1 auto; }
   .main-slider .slide .name-wrap .name { padding: 10px 15px; }
   .heading.heading-mob::after { height: 4px; }
}

@media all and (max-width: 700px) and (min-height: 700px) {
   .heading.heading-mob::after { height: 4px; }
}

@media (pointer: coarse) {
   .main-slider .slide .content { height: calc(100vh - 55px); }
}

@media all and (max-height: 635px) and (pointer: coarse) {
   .main-slider .slide .content { height: 100%; }
}



// subheading
@media all and (max-height: 700px) and (max-width: 400px) {
   .subheading { font-size: 21px; }
}

@media all and (min-height: 700px) and (max-width: 400px) {
   .subheading { font-size: calc((100vw - 280px)/(400 - 280) * (27 - 21) + 21px); }
}





/**  
 * .section-button
*/
.section-button {
   padding: 15px 23px;
   font-family: 'Roboto', sans-serif;
   font-weight: 600;
   font-size: 21px;
   line-height: 121%;
   display: flex;
   align-items: center;
   text-transform: uppercase;
   color: $text-color-lightness;
   background: $text-color-darkness;
   background: transparent;
   border-radius: 3px;
   border: none;
   filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.16));
   position: relative;
   overflow: hidden;
   transition: all 0.1s ease-out;
   span {
      position: relative;
      z-index: 1;
   }
   &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      border: 2px solid $decoration-color-1;
      opacity: 0;
      visibility: hidden;
      // transform: scale(1,0.7);
      transition: all 0.2s ease-out;
   }
   &::after {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: $decoration-color-1;
      animation: moveAfterRev 0.3s ease-out forwards;
      z-index: 0;
   }
   &:hover {
      color: $decoration-color-1;
      &::after {
         animation: moveAfter 0.3s ease-out forwards;
      }
      &::before {
         opacity: 1;
         visibility: visible;
         // transform: scale(1, 1);
      }
   }

   &.main {
      @media all and (max-height: 750px) {
         padding: 9px 23px;
      }
   }

   &.darkFirst {
      background: transparent;
      color: $decoration-color-1;
      &:hover {
         color: $decoration-color-1;
      }
      &::after {
         animation: moveAfter 0.3s ease-out forwards;
      }
      &::before {
         opacity: 1;
         visibility: visible;
      }
   }
   &:active {
      transform: scale(0.96);
   }
   &.animation {
      opacity: 0;
      visibility: hidden;
      transform: translateY(25%);
   }
   &.sm-btn {
      padding: 9px 24px;
      font-size: 18px;
   }
   &.mob-btn {
      margin: 0 auto;
   }
   &.mt {
      margin-top: 43px;
   }
   @media all and (max-width: 340px) {
      font-size: 17px;
   }
}




@media all and (max-width: 700px) {
   .main-slider .slick-arrow { opacity: 0; visibility: hidden; z-index: -1; }
}


// SLICK DOTS
.slick-dotted.slick-slider {
   margin-bottom: 0;
}
.slick-dots {
   bottom: 23px;
   li, button, button {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $text-color-lightness;
      transition: all 0.1s ease-out;
   }
   li {
      button::before {
         content: '';
         display: none
      }
      &.slick-active {
         background: $decoration-color-1;
      };
   }
   @media all and (max-width: 980px) {
      opacity: 0;
      visibility: hidden;
   }
}

// SLICK TRACK
.slick-track,
.slick-slide > div {
   height: 100%;
}

// slider arrows 
.slick-arrow {
   padding: 0;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   background: transparent;
   width: 15px;
   height: 26px;
   z-index: 1;
   svg {
      stroke: #EAFFFF;
      fill: transparent;
      width: 15px;
      height: 26px;
      stroke-width: 2;
      transition: all 0.1s ease-out;
      opacity: 0.5;
   }
   &:hover svg {
      stroke: $decoration-color-1;
      transform: scale(1.2);
      opacity: 1;
   }
   &.prev {
      left: 10px;
   }
   &.next {
      right: 10px;
   }
}

.slick-slide img {
   max-width: 100%;
   height: auto;
}

// apl-slider
.app-sl {
   overflow: hidden;
   .slick-arrow {
      svg {
         opacity: 1;
      }
      &.prev {
         left: 0;
      }
      &.next {
         right: 0;
      }
   }
   .slide {
      transform: scale(1.2);
      transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
   }
   .slick-arrow {
      height: 100%;
      width: 7%;
   }
}


.app-sl .slick-active .slide { transform: scale(1); }


// keyframes for button
@keyframes moveAfter {
   0% { left: 0; }
   100% { left: 100%; }
}

@keyframes moveAfterRev {
   0% { left: -100%; }
   100% { left: 0; }
}

@keyframes button {
   0% { opacity: 0; visibility: hidden; transform: translateY(25%); }
   100% { opacity: 1; visibility: visible; transform: translateY(0); }
}






// PRELOADER
.preloader-wrap {
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background: #000;
   opacity: 1;
   visibility: visible;
   z-index: 3;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all 0.3s ease-out;
   .preloader {
      padding: 0 15px;
      img {
         max-width: 100%;
         height: auto;
      }
   }
   &.hide {
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease-out;
   }
}
